* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: #DFDFDF;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
button {
  font: 400 16px 'Roboto';
  letter-spacing: 1px;
}
